body
{
background-color: skyblue;color: darkblue;
}
.heading
{
color: darkslategray;width: 80%;font-size: 30px;background-color: coral;
}
#camera
{
border:3px;border-style: solid;width: 350px;height: 350px;
}
.name_of_objects
{
color: darkgreen;font-size: large;
}
#result_object_name
{
color:darkorchid;font-weight: bold;
}
#result_object_accuracy
{
color: darkslateblue;font-weight: bold;
}